#Types of Object in Python:
1. Immutable Objects
2. Mutable Objects

# Immutabe Objects
1. int
2. float
3. string
4. bool
5. tuple

# Mutable Objects:
1. List
2. Set
3. Dictionary

# List

In [2]:
#list should be included in the square bracket
my_list = [1,2,3,4,5,6]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5, 6]

list

In [3]:
#list can have multiple data types
my_list = [2,3,1.5,'English', True]
print(my_list)

[2, 3, 1.5, 'English', True]

List are Mutable --> Changeable

In [9]:
#add element to a list
my_list = [2,3,1.5,'English', True]
my_list.append(0)
print(my_list)

[2, 3, 1.5, 'English', True, 0]

In [10]:
#Print element of a list using their index
print(my_list[0])
print(my_list[2])

2
1.5

In [11]:
#list allow duplicate values
list_1 = [1,2,3,4,5,12,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 3]

In [12]:
print(len(list_1))

7

In [14]:
#initialize  an empt list
list_2 =[]
print(list_2)

[]

In [18]:
list_2.append(5)
print(list_2)

[5, 5, 5]

In [21]:
#delete item in a list
list_2 = [2, 3, 1.5, 'English', True]
print(list_2)
del list_2 [4]
print(list_2)

[2, 3, 1.5, 'English', True]
[2, 3, 1.5, 'English']

In [26]:
#join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,0]
list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

# Tuple

In [27]:
tuple_1 =(2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [29]:
#tuple allow multiple data type
tuple_2 = (1,2,3.3,'Machine Lerning', False)
print(tuple_2)

(1, 2, 3.3, 'Machine Lerning', False)

In [31]:
#converting a list to a tuple
my_list = [1,2,3,4,5]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [32]:
print(my_tuple[0])
print(my_tuple[1])

1
2

Tuple are immutable -> Unchangeable

In [35]:
print(len(my_tuple))

5

# Set

In [45]:
#set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [47]:
#convert a list to a set
list_5 = [4,5,6,7]

x=set(list_5)
print(x)

{4, 5, 6, 7}

In [48]:
#set does not allow duplicate values
set_3 = {1,2,3,4,5,6}
print(set_3)

{1, 2, 3, 4, 5, 6}

#Dictionary

Key-Value Pair

In [41]:
my_dictionary = {'name':'David', 'age':21, 'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 21, 'country': 'India'}

dict

In [43]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
21
India

In [44]:
#dictionary does not allow duplicate values
dictionary_2 = {'name':'David', 'age':21, 'country':'India','name':'David', 'age':21, 'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 21, 'country': 'India'}