Operators in Python:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators

1. Arithmetic operators

In [3]:
num_1 = 20
num_2 = 10

#Addition
sum = num_1 + num_2
print(sum)

#Difference
diff = num_1 - num_2
print(diff)

#Multiplication
mul = num_1 * num_2
print(mul)

#Division
div = num_1 / num_2
print(div)

#Modulus
mod = num_1 % num_2
print(mod)

#Exponent
exp = num_1**num_2
print(exp)

30
10
200
2.0
0
10240000000000

2. Assignment operators

In [4]:
a = 5
print(a)

5

In [5]:
a = 5
a += 5
print(a)

10

In [6]:
a = 5
a -= 5
print(a)

0

In [7]:
a = 5
a *= 5
print(a)

25

In [8]:
a = 5
a /= 5
print(a)

1.0

In [9]:
a = 5
a %= 5
print(a)

0

In [11]:
a = 5
a **= 5
print(a)

3125

3. Comparison operators

In [12]:
a = 5
b = 10

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
False
True
True
False

4. Logical operators

In [15]:
a=10

print(a>20 and a>5) #and
print(a>20 or a>5) #or
print(not(a>20 and a>5)) #not

False
True
True

5. Identity operators

In [16]:
x = 5
y = 5

print(x is y)

True

In [18]:
x = 5
y = 10

print(x is y)

False

In [17]:
x = 5
y = 5

print(x is not y)

False

In [19]:
x = 5
y = 10

print(x is not y)

True

6. Membership operators

In [20]:
a = 5
b = 10

c = [1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [21]:
a = 5
b = 10

c = [1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True